* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: aquamarine;
  color: rgb(50, 98, 82);
  font-size: 20px;
  height: 100vh;
}
