/* Reset stylů pro lepší konzistenci */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

/* Celá stránka */
body {
  display: flex;
  flex-direction: column;        /* Zajistí vertikální skládání */
  justify-content: center;       /* Zarovná vertikálně do středu */
  align-items: center;           /* Zarovná horizontálně do středu */
  height: 100vh;                 /* Výška celé obrazovky */
  background-color: aquamarine;
  color: rgb(50, 98, 82);
  font-size: 20px;
  text-align: center;
}

/* Všechny <p> */
p {
  margin: 1rem 0;                /* Vertikální mezery mezi odstavci */
}

